<ifModule mod_rewrite.c>
#activar el rewrite
RewriteEngine on

ErrorDocument 404 http://localhost/master-php/aprendiendophp/error/
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)/(.*) index.php/?controller=$1&action=$2
</ifModule>